{
  "presets": [

    ["es2015", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-remove-strict-mode",
    ["import", { "libraryName": "antd", "style": true }],
    ["transform-runtime",{
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],

    "add-module-exports",
    [
      "css-modules-transform",
      {
        "extensions": [
          ".less"
        ],
        "generateScopedName": "./css-module.js"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd"
      }
    ]

  ],
}
