{
  "presets": [

    ["es2015", {"modules": false}],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-remove-strict-mode"
  ],
}
